$verde-oasis : #6abfa5;
$negro-fondo : #30302f;
$negro : black;
$blanco : white;
$azul-admin: rgb(0, 113, 242);
$celeste-admin:rgb(88, 160, 242);
$blanco-admin:rgb(219, 214, 214);
$negro-shadow:rgba(0, 0, 0, 0.2);
$negro2-shadow:rgba(0, 0, 0, 0.19);
$oro:#ffc107;
$rojo:red;
$verde-acierto:#5cb85c;
$rojo-error:#d9534f;
$gris-staff-mes:#636e73;
$staff-calendario-borde:#2c7aca;
$staff-calendario-dia:#818589;
$staff-calend-dia:#fff;
$staff-calen-fondo:#448cd6;
$staff-calen-borde-dianum:  #e6e9ea;
$staff-calen-dianum:#7c878d;
$staff-calend-event:#f7c30d;
$calend-event-verde: #51ce57;
$calend-event-rojo:#ce5151;
$calend-event-azul:#518fce;
$calend-hover:#fdfdfd;
$calend-ignore:#ced2d4;
$calend-selected:#f1f2f3;
$hover-azul:rgb(34, 34, 255);
$success-verde:#5cb85c;
$error-rojo:#d9534f;



