$fuente-general : 'Roboto Slab', serif;

$staffcalend-mes:20px;
$staffcalend-weight:bold;
$staffcalend-dia:12px;
$staffcalend-span:14px;
$staff-calend-event:14px;
$staff-calend-eventWeight: 500;
$servicios-line:2em;
$restaurante-h2:2.7vw;
$links-nav:1.5em;
$beneficios-titulo: 1.7em;
$carrousel-titulos: 30px;
$galeria-titulos:1em;
$habitacion-titulos:1em;
$footer-size:1.3vw;
$calendario-info:1.2em;
$calendario-flechas:1.3em;
$medium:medium;
$large:large;
$xx-large: xx-large;
$x-large: x-large;