$altura-admin-barra:60px;
$cero:0;
$cero-porcentaje:0%;
$cien-porcentaje:100%;
$admin-pos-top:13%;
$admin-index:1;
$admin-borde-izq:20%;
$admin-iconos: 35px;
$admin-icon-top:25%;
$admin-icon-left:10%;
$admin-p-top:25%;
$admin-normal:75px;
$admin-icon-margin:15px;
$admin-crece:350px;
$admin-borde:3px;
$admin-cerrar:1.9em;
$admin-hover : 100px;

$calendario-border:10px;
$calendario-ancho: 80%;
$calendario-max-ancho: 600px;
$calendario-margin: 1em;
$calendario-padding: 0.5em;
$calendario-shadow:4px;
$calendario-shadow2:8px;
$calendario-shadow3:6px;
$calendario-shadow4:20px;
$calendario-info-pad: 2em;
$calendario-hover-shadow:3px;
$calendario-hover-shadow2:10px;
$calendario-item-hover: 50%;
$calendario-mes-pad: 0.5em;
$calendario-mes-pad2: 1em;
$calendario-clicado:50%;

$titulo-comments-margin: 5%;
$comments-boton-ancho:40%;
$total-comments-top:40%;
$total-comments-left:85%;

$mensajes-top:21%;
$mensajes-left:69%;
$mensajes-ancho:30%;
$mensajes-borde:4px;

$scroll-img-ancho:35px;
$scroll-left:95%;
$scroll-top:88%;
$scroll-borde:2px;
$scroll-radio:10%;
$scroll-ancho-alto:40px;

$subrallado-fondo:2px;

$text-shadow-borde:2px;

$altura-view:100vh;

$carousel-bottom:5rem;

$carta-hab-margin-bottom:10%;
$carta-img-alto:300px;
$carta-hab-img-lados:40px;
$habitacion-titulo-margin-top:10%;
$habitacion-titulo-margin-bottom:5%;
$habitacion-iconos-margin:5%;
$reserva-boton-ancho:40%;
$reserva-margen-fam:5%;
$h3-margin-right:25%;
$h3-margin-top:10%;
$servicios-img-lados:120px;
$h2-margin-bottom:5%;
$icono-entrar-top:30%;
$icono-entrar-left:50%;
$icono-entrar-ancho:50px;

$footer-altura:27px;
$footer-icon-lados:25px;
$footer-icon-margin:5px;
$footer-svg-pos:5px;
$footer-dir-ancho:90%;
$footer-dir-margin:1%;
$footer-p-margin:5px;
$footer-icon-user:50%;


$beneficios-padding:2%;
$beneficios-borde:2px;
$beneficios-radio: 10px;

$viajar-padding:2%;
$viajar-borde:2px;
$viajar-radio:10px;

$beneficios-img-lados:120px;
$beneficios-h3-right:20%;
$beneficios-h3-top:10%;
$beneficios-margen:30px;
$beneficios-trans-der:50px;
$beneficios-trans-top:40px;
$cancelar-trans:20px;
$beneficios-row-margen:10%;

$carousel-item-alt:85vh;

$covid-row-margin:10%;
$covid-img-lados:120px;
$covid-img-margin:20%;
$covid-h2-margin:5%;
$covid-viajar-margin:2%;
$viajar-transx:50px;
$viajar-trans:20px;
$covid-margin-bot:10%;

$ubic-padding:2%;
$ubic-borde:2px;
$ubic-radio:10px;
$ubic-margen-top:10%;
$ubic-margen-bot:7%;
$logo-margen:10%;

$galeria-margen:8%;
$galeria-h2-margen:5%;
$galeria-img-ancho:400px;
$galeria-img-alto:300px;
$galeria-img-borde:2px;
$icono-galeria-ancho:50px;
$icono-galeria-top:50%;
$icono-galeria-left:50%;

$habrow-img-ancho:320px;
$habrow-img-alto:300px;
$habrow-img-borde:2px;
$habrow-h2-margen:5%;
$habrow-habmargen-top:10%;
$habrow-habmargen-bot:7%;

$nav-shadow:2px;
$nav-brillo:110%;
$nav-sinscroll-top:1rem;
$nav-icono-reserva:250px;
$nav-links-posleft:15%;

$reservas-titulo-margen:1em;
$cuadro-reserva-borde:2px;
$reserva-form-margen:10%;
$reserva-form-botonMargen:5%;
$reserva-form-quitarAncho:30%;
$reserva-form-quitarMargen:0.5em;
$habreserva-margen:10%;
$habreserva-img-alto:300px;
$habreserva-icon-lados:40px;
$otrasHab-margen-top:10%;
$otrasHab-margen-bot:5%;
$otrasHab-icon-margen:5%;
$otrasHab-verMas-ancho:60%;

$rest-titulo-margen:5%;
$rest-borde:2px;
$rest-radio:10px;
$restaurante-margen:5%;
$rest-img-alto:150px;
$rest-h2-margen:5%;

$otroServicios-tamano: 120px;
$otroServicios-margen:30%;
$service-icon-margen:5%;
$service-icon-alto:250px;
$service-icon-borde:2px;
$service-h2-margen:5%;
$otroservice-margen-top:10%;
$otroservice-margen-bot:5%;
$otroservice-h2-margen:5%;
$otroservice-icons-margen:5%;
$service-margen-bot:5%;

$calend-mes-padding:20px;
$calend-diaNombre-padding:20px;
$calend-diaNombre-borde:1px;
$calend-diaNum-padding:15px;
$calend-diaNum-borde:1px;
$calend-diaNum-alto:100px;
$calend-diaNum-spanAncho:30px;
$calend-event-margen:10px;
$calend-event-padd1:3px;
$calend-event-padd2:6px;
$calend-event-radio:4px;

$staff-campana-posTop:22%;
$staff-campana-posRight:25%;
$staff-campana-shadow:1px;
$staff-campana-ancho:50px;




