
$admin-normal: 0.7s;
$admin-alargado: 1s;
$admin-iconos: 0.5s;

$calendario-hover:0.5s;

$boton-reserva:0.5s;

$fade-timing:1s;

$subrallado:0.3s;

$iconos-footer:0.5s;

$carrousel-titulos:7s;

$icono-galeria:0.5s;
$nav-transitions:0.5s;
$nav-animations:1s;

$reserva-input:0.5s;
$reserva-input-entra:1s;

$restaurante-img:0.5s;

$staff-fechas:0.5s;
$staff-campana:0.3s;

$servicios-habitaciones:0.5s;